.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

#ignore dataset files
data/raw/*
data/cleaned/*
data/merged/*

#keep folder structure
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/merged/.gitkeep

outputs/

.idea/