.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

#ignore dataset files
data/raw/*
data/cleaned/*
data/processed/*

#ignore output files
outputs/*

#keep folder structure
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep

#ignore logs
logs/
*.log

.idea/